*{
    font-family: "Poppins", sans-serif;
}
.font-bangla{
    font-family: "Hind Siliguri", sans-serif;
}
.active{
    background-color: #422ad5;
    color: white;
}
.nahiyan p{
    color: gray;
    padding: 10px;
    background: gainsboro;
}